/* Color Variables */
:root {
  --background-color: #1b3628;
  --primary-color: #f3b959;
  --secondary-color: #1a4d41;
  --tertiary-color: #276f51;
  --quaternary-color: #348f61;
  --menu-background-color: #f9e4b7;
  --menu-text-color: #1b3628;
}

body {
  background-color: var(--background-color);
  font-family: "Alike Angular", serif;
  font-optical-sizing: auto;
}

body.menu-open {
  overflow: hidden; /* Prevent body scrolling */
}

h2 {
  color: var(--primary-color);
  text-align: center;
  margin-top: 20px;
}
