/* Color Variables */
:root {
  --background-color: #1b3628;
  --primary-color: #f3b959;
  --secondary-color: #1a4d41;
  --tertiary-color: #276f51;
  --quaternary-color: #348f61;
  --menu-background-color: #f9e4b7;
  --menu-text-color: #1b3628;
}

body {
  background-color: var(--background-color);
  font-family: "Alike Angular", serif;
  font-optical-sizing: auto;
}

body.menu-open {
  overflow: hidden; /* Prevent body scrolling */
}

#sesiones,
#formaciones,
#sobre-mi {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

#sesiones {
  background-color: var(--secondary-color);
  padding: 20px;
}

#sesiones .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  width: 100%;
}

#sesiones img {
  height: auto;
  margin-right: 20px;
}

#sesiones .text {
  font-size: 1.2rem;
  margin-bottom: 20px;
  flex: 1;
}

#sesiones .button {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 20px;
}

#sesiones .button:hover {
  background-color: var(--secondary-color);
}

#formaciones {
  background-color: var(--tertiary-color);
}

#sobre-mi {
  background-color: var(--quaternary-color);
  background-image: url("/photos/morphing-diamonds 2.svg");
  background-repeat: repeat;
}

@media (max-width: 768px) {
  #sesiones .content {
    flex-direction: column;
    text-align: center;
  }

  #sesiones img {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }

  #sesiones .text {
    margin-bottom: 20px;
  }

  #sesiones .button {
    margin-top: 20px;
  }
}

.scroll-icon {
  position: absolute;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 2.5px solid white;
  border-radius: 50%;
  cursor: pointer;
  animation: bounce 2s infinite;
}

.scroll-icon::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-left: 2.5px solid white;
  border-bottom: 2.5px solid white;
  transform: rotate(-45deg);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

h2 {
  color: var(--primary-color);
  text-align: center;
  margin-top: 20px;
}
